<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Harpocrates</title>
	<link rel="stylesheet" type="text/css" href="/static/css/chota.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<nav class="nav">
  <div class="nav-left">
    <a class="brand" href="#"><img src="/static/img/harp_logo.png"> Harpocrates</a>
  <div class="nav-right">
  	<details class="dropdown">
  		<summary class="button outline">{{ session['username'] }}</summary>
  		<div class="card">
  			<p>
  				<a href="/">Log Out</a>
  			</p>
  		</div>
  	</details>
    <!--<a class="button outline">{{ session['username'] }}</a> -->
  </div>
</nav>
<div id="top" class="container">
<div class="row">
	<div class="col-12 col-12-md col-12-lg">
		<div class="msg">
			{% if msg != "" %}<div class="card text-success">{{msg}}</div>{% endif %}
			{% if err != "" %}<div class="card text-error">{{err}}</div>{% endif %}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 col-6-md col-5-lg">
		<fieldset id="status">
			<legend>Status</legend>
			<div class="row">
				<div class="col-5">
					<p>
						<strong>FIPS:</strong> {% if keeper.enable_fips() == True %} <span class="text-primary">Enabled</span> {% else %} <span class="text-error">	Disabled	</span>{% endif %}
					</p>
					<p>
						<form method="post">
							<strong>Server:</strong>
							{% if main.status == 'started' %} 
								<input type="hidden" value="stop" name="action"><span class="text-primary">Running</span><br><button class="button 	error">	Stop</button>
						    {% else %} 
						        <input type="hidden" value="start" name="action"><span class="text-error">Stopped</span><br><input type="submit" class=	"	button primary" value="Start">
						    {% endif %}
						</form>
					</p>
				</div>
				<div class="col-7">
					<strong>Server Name: </strong>{{ main.HOSTNAME }}<br>
					<strong>server IP: </strong>  {{ main.IP_ADDRESS }}<br>
					<strong>Version: </strong> 	{{ main.VERSION }}
				</div>
			</div>

		</fieldset>
	</div>
	<div class="col-12 col-6-md col-7-lg">
		<fieldset id="settings">
			<legend>Settings</legend>
			<form method="post">
				<p>
					<label for="restrict_ip">Restrict clients to registered IP</label>
					<input type="checkbox" name="restrict_ip" id="restrict_ip">
					<br>
					<label for="restrict_ip">Require pre-registration of images</label>
					<input type="checkbox" name="restrict_ip" id="pre_register">
				</p>
				<p class="pull-right">
					<input type="submit" name="action" value="update" id="update">
				</p>
			</form>
		</fieldset>
	</div>
</div>
<div class="row">
	<div class="col-12 col-6-md col-6-lg">
		<fieldset class="entity_list">
			<legend>Secrets</legend>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th> </th>
					</tr>
				</thead>
				<tbody>
					{% for secret in main.cmd.list_secrets() %}
					<tr>
						<td>{{ secret[0] }}</td>
						<td>{{ secret[1] }}</td>
						<td><form onsubmit="return confirm('Are you sure you want to delete this secret?')"><input name="action" type="hidden" value="del_secret"><input type="hidden" value="{{ secret[0] }}"><input type="submit" value="X" class="button error small-btn"></form></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</fieldset>
	</div>
	<div class="col-12 col-6-md col-6-lg">
		<fieldset class="entity_list">
			<legend>Roles</legend>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for role in main.cmd.list_roles() %}
					<tr>
						<td>{{ role[0] }}</td>
						<td>{{ role[1] }}</td>
						<td><form onsubmit="return confirm('Are you sure you want to delete this role?')"><input  name="action" type="hidden" value="del_role"><input type="hidden" value="{{ role[0] }}"><input type="submit" value="X" class="button error small-btn"></form></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</fieldset>
	</div>
</div>
<div class="row">
	<div class="col-12 col-6-md col-6-lg">
		<fieldset class="entity_list">
			<legend>Images</legend>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Role</th>
						<th>Registered by</th>
					</tr>
				</thead>
				<tbody>
					{% for image in main.cmd.list_images() %}
					<tr>
						<td>{{ image[0] }}</td>
						<td>{{ image[1] }}</td>
						<td>{{ image[2] }}</td>
						<td><form onsubmit="return confirm('Are you sure you want to delete this image?')"><input name="action" type="hidden" value="del_image"><input type="hidden" value="{{ image[0] }}"><input type="submit" value="X" class="button error small-btn"></form></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</fieldset>		
	</div>
	<div class="col-12 col-6-md col-6-lg">
		<fieldset class="entity_list">
			<legend>Clients</legend>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Image name</th>
						<th>IP address</th>
					</tr>
				</thead>
				<tbody>
					{% for client in main.cmd.list_clients() %}
					<tr>
						<td>{{ client[0] }}</td>
						<td>{{ client[1] }}</td>
						<td>{{ client[2] }}</td>
						<td><form onsubmit="return confirm('Are you sure you want to delete this client?')"><input name="action" type="hidden" value="del_client"><input type="hidden" value="{{ client[0] }}"><input type="submit" value="X" class="button error small-btn"></form></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>			
		</fieldset>
	</div>
</div>
</div>
</body>
</html>